

<%-include("partials/header");-%>
    <div id="main">
      <h1 style="color: #1abc9c;opacity:0.8;letter-spacing: 2px;">HOME</h1>   <a href="/compose" class="raghu" role="button">+</a>  
    </div>
    <p><%=startingContent%></p>
    
    <%posts.forEach((arr)=>{%>
        <h1><%=arr.title %> </h1>
        <p> <%= arr.content.substring(0,100)+"..."%>
        <a href="/posts/<%=arr._id %>">Read more</a>
        </p>
    <%});%>
    

</div>
<div class="footer-padding changeit" >
  <div class="footer">
    <p>Copyrights 2020 @Raghunadh</p>
  </div>
</div>
</body>
</html>   



