

<%-include("partials/header");-%>
    <div id="main">
        <h1 >Home</h1>   <a href="/compose" class="raghu" role="button">+</a>  
    </div>
    <p><%=startingContent%></p>
    
    <%posts.forEach((arr)=>{%>
        <h1><%=arr.title %> </h1>
        <p> <%= arr.content.substring(0,100)+"..."%>
        <a href="/posts/<%=arr._id %>">Read more</a>
        </p>
    <%});%>
    
<%-include("partials/footer");-%>    



